$font-family-base:              'Nunito', sans-serif !default;
$grid-gutter-width:             20px !default;
$base-px-value:                 8px !default;

//colors
$brand-primary: #e0525f !default;
$brand-success:                 #00c853 !default;
$brand-secondary:               rgba(0, 0, 0, 0.4) !default;
$text-color:                    #ffffff !default;
$body-bg:                       linear-gradient(#000000, $brand-primary) !default;
$card-bg:                       #424242;
$each-stats-bg:                 rgba(0,0,0,0.1);

//font sizes
$font-size-h1:                  60px !default;
